/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
/* My code  */

@font-face {
  font-family: "inter"; 
  src:
    url("inter-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
    color: rgb(209, 213, 219);
    background-color: rgb(17, 24, 39);
    font-family: 'inter';
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.turn {
  font-size: 1.5rem;
}

.board {
  display: grid;
  height: 400px;
  width: 400px;  
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid black; 
  gap: 2px;
  padding: 2px;
  background-color: darkolivegreen;
  }
  
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 6.6rem;
  color: darkolivegreen;
  border: 1px solid grey;
  /* background: lightellow; */
  cursor: pointer;

}
/* .cell:hover {
  background-color: aqua;
} */
.info {
  font-size: 1.2rem;
}

.button {
  display: flex;
  gap: 100px;
  height: 40px;
  
}